<div class="container">
  <h1 class="display-1">Sign Up</h1>
  <%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: @user %>
    <fieldset class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class:'form-control' %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class:'form-control' %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class:'form-control' %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.submit 'Sign Up', class:'btn btn-primary' %>
    </fieldset>
  <% end %>
</div>
